@font-face {
    font-family: trado;
    src: url('file:///android_asset/fonts/trado.ttf');
}
@font-face {
    font-family: solaimanlipi;
    src: url('file:///android_asset/fonts/SolaimanLipi.ttf');
}
@font-face {
    font-family: noorehira;
    src: url('file:///android_asset/fonts/noorehira.ttf');
}
body {
    background-color: #d0e4fe;
}



p {
    font-family: 'trado';
    font-size: 20px;
    color: green;
}
img{
    position: relative;
    width:150px;
    height:150px;
    left:100px;
    z-index: -1;
}